*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    transition: all .2s linear;
    border: none;
    outline: none;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    font-size: 75%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

section{
    padding: 2rem;

    @include mobile{
        padding: 1rem;
    }
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: $orange;
    color: $white;
    padding: .5rem 2rem;
    border: .2rem solid $orange;
    cursor: pointer;
    font-size: 1.2rem;

    &:hover{
        background: rgba(255,165,0,0.2);
        color: $orange;
    }
}

.heading{
    text-align: center;
    padding: 1.5rem 0;
    text-transform: uppercase;

    span{
        font-size: 2rem; 
        background: rgba(255,165,0,0.2);
        color: $orange;
        border-radius: .5rem;
        padding: .2rem 1rem;

        @include sm{
            padding: .1rem .5rem;
        }

        

        &.space{
            background: none;
        }
    }
}