.gallery{
    .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .box{
            overflow: hidden;
            box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
            border: 1rem solid $white;
            border-radius: .5rem;
            flex: 1 1 30rem;
            height: 25rem;
            position: relative;

            &:hover{
                .content{
                    top: 0;
                }
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .content{
                position: absolute;
                top: -120%;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                background: rgba(0,0,0,0.7);
                padding: 2rem;
                padding-top: 5rem;
                cursor: context-menu;

                h3{
                    font-size: 3rem;
                    color: $orange;
                    text-transform: capitalize;
                }

                p{
                    font-size: 1.5rem;
                    color: $white;
                    padding: .5rem 0;
                }
            }
        }
    }
}